{% extends "base.html.twig" %}

{% block body %}
<div class="d-flex flex-column justify-content-between ">
	<div class="container d-flex align-items-center mt-5">
		<div class="row mt-sm-5">
			<div class="col-sm-3 col-xl-5 d-flex align-self-center">
				<span>
					<h5 class="fw-bold text-light lead">A BIT ABOUT ME
						<br></h5>
					<p class="text-secondary display-6 mt-4">I am a UI/UX designer who is passionate about creating
						<span class="text-light fw-bold">
							beautiful and joyful digital experiences. Beside
							                            design, I
							                            love
							                            music, games and travelling.
						</span>
					</p>
				</span>
			</div>
			<div class="col-sm-5 col-xl-4 d-flex align-self-center">
				<img class="img-fluid ms-lg-5" alt="image" src=".\images\Change this.png">
			</div>
			<div class="col-sm ">
				<img class="img-fluid pb-3 pt-5" alt="image" src=".\images\Cover.png">
				<img class="img-fluid" alt="image" src=".\images\Change this (1).png">
			</div>
		</div>
	</div>
</div>
{% endblock %}